<div class="component-process-form">
  <div class="compmonent-content-wrapper">
    <div class="header mb-3">
      <h6>CC-11</h6>
      <h4>Process One</h4>
    </div>
    <mat-divider></mat-divider>
    <form>
      <mat-accordion multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h6>STEP 1</h6>
              <h4>Outcome effect</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="Financial">Financial</mat-radio-button>
            <mat-radio-button value="Customer Satisfaction"
              >Customer Satisfaction</mat-radio-button
            >
            <mat-radio-button value="Quality">Quality</mat-radio-button>
          </mat-radio-group>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
      <div class="form-actions mt-3">
        <button type="submit" class="btn btn-primary submit">
          Create Process
        </button>
        <button type="reset" class="btn btn-secondary reset">Cancel</button>
      </div>
    </form>
  </div>
</div>
