tree-search {
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-flow: row nowrap;
    background-color: #f9f9f9;
    padding: 20px 25px;
}

.input-group {
    width: unset;
}

mat-form-field {
    height: 50px;
    margin-right: 5px;
}


.sector-input-group mat-form-field {
    width: 125px;
}

.department-input-group {
    flex-grow: 1;
}

button {
    border: none;
    background-color: unset;
}
